/** Main styles go here **/
$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import 'sass-bootstrap/lib/bootstrap';

body {
  background: #fff;
  margin: 24px 0;
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  font-size: 17px;
  line-height: 1;
  color: inherit;
}

a {
  color: #008cdd;
  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B';
  font-weight: 500;
  font-style: normal;
  line-height: 1.1;
  color: inherit;
}

// Homepage Main Content
.jumbotron h1 {
  font-size: 17px;
  line-height: 1;
  color: inherit;
  text-align: center;
}

.jumbotron {
  background: #fff;
  // border-radius: 0;
  // -webkit-box-shadow: 0 1px 1px 1px #E8E8E8;
  // box-shadow: 0 1px 1px 1px #E8E8E8;
}

.container.search-bg {
  margin: 0;
  padding: 0;
  border: 0;
}

//// Type
// Main type on page, e.g. h1 tags
.headline {
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

//// Navigation
#custom-navbar {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-top: 0%;
  margin-right: 5%;
}

.avatar :before {
  margin-left: 0px;
  padding-left: 0px;
}


.logo {
  cursor: pointer;
  display: inline-block;
  // height: 25px;
  margin-left: 37px;
  padding: 20px 0 19px;
  position: relative;
  text-align: center;
  vertical-align: top;
  // width: 80px;
}

.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 90px;
}

.navbar-right a {
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B';
  font-weight: 500;
  font-style: normal;
}

.navbar-right {
  cursor: pointer;
  display: inline-block;
  padding: 20px 0 19px;
  position: relative;
  text-align: center;
  vertical-align: top;
  font-style: normal;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-right: 37px;
}
// Links
.main-nav-links {
  display: inline-block;
  float: right;
  text-align: right;
  vertical-align: top;
}
// Nav bar
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #fff;
  border: none;
}

// Search bar
#search-bar {
  width: 250px;
  border-radius: 0;
}

.search-bg {
  padding-top: 70px;
  background-color: #f9f9f9;
  width: 100%;
  height: 180px;
}

// Input Bootstrap Override
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande",sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #000;
  vertical-align: middle;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:hover {
  border: 1px solid #a2a2a2;
}

.form-control:focus {
  -webkit-box-shadow: 0px 0px 0px #77cc33;
  -moz-box-shadow: 0px 0px 0px #77cc33;
  box-shadow: 0px 0px 0px #77cc33;
  border: 1px solid #77cc33;
}

.form-control::-webkit-input-placeholder {
  color: #b3babe;
}
.form-control::-moz-placeholder {
  color: #b3babe;
}
.form-control:-moz-placeholder {   /* Older versions of Firefox */
  color: #b3babe;
}
.form-control:-ms-input-placeholder {
  color: #b3babe;
}

// Profile page
.profile {
  padding-top: 48px;
  text-align: center;
  // background-color: #d7d7d7;
  width: 350px;
}
.avatar-lg {
  border-radius: 60px;
  width: 110px;
  height: 110px;
}
.profile-name-info {
  color: #000;
}
.full-name {
  font-size: 20px;
  margin-bottom: 5px;
}
.username {
  font-size: 16px;
  font-weight: 400;
  color: #008cdd;
  letter-spacing: 0;
  margin-top: 5px;
}
.call-button {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  background-color: #77cc33;
  cursor: pointer;
  margin-top: 25px;
}
.call-button:hover {
  background-color: #6ab72c;
}

.headline p {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 14px 0;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.caps-sub-header {
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 20px;
}

.repo-links {
  font-size: 14px;
  padding: 0;
  margin: 0;
  border: 0;
}

// Session
.navbar-min {
  height: 20px;
}

.session-header {
  margin-top: 0;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// .ace-editor {
//   height: 400px;
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0l
// }
