<section data-ng-controller="UserController" data-ng-init="findAppointments()">
  <section data-ng-show="global.authenticated">
    <div class="container">
      <div class='center-appointment' data-ng-show="userAppointments">
        <h1 class='headline'>Appointments</h1>

        <div class='appointment-box' data-ng-repeat="appointment in userAppointments">
          <div class='status status-pending'>
            <h1 class='alert-type' data-ng-hide="!appointment.confirmed">Status: Approved!</h1>
            <h1 class='alert-type' data-ng-show="(appointment.merchant._id === global.user._id) && !appointment.confirmed"><a href="/#!/{{global.user.userName}}/confirm/{{appointment._id}}">Status: Uncomfirmed...confirm now!</a></h1>
            <h1 class='alert-type' data-ng-show="(appointment.merchant._id !== global.user._id) && !appointment.confirmed">Status: Awaiting merchant approval...</h1>
          </div>
          <img class='avatar-lg appt' src='{{appointment.customer.github.avatar_url}}' data-ng-show="appointment.merchant._id === global.user._id">
          <img class='avatar-lg appt' src='{{appointment.merchant.github.avatar_url}}' data-ng-show="appointment.customer._id === global.user._id">
          <div class='appointment-text-info'>
            <h1 class='headline full-name' data-ng-show="appointment.merchant._id === global.user._id">{{appointment.customer.fullName}}</h1>
            <h1 class='headline full-name' data-ng-show="appointment.customer._id === global.user._id">{{appointment.merchant.fullName}}</h1>
            <p class='appointment-details' data-ng-show="appointment.merchant._id === global.user._id">
              My Rate <span class='bold-description'>{{global.user.ppm}}</span>
               Req. call length <span class='bold-description'>{{appointment.duration}} mins</span>
               Est. total Earnings<span class='bold-description'> ${{global.user.ppm * appointment.duration}}</span>
            </p>
            <p class='appointment-details' data-ng-show="appointment.customer._id === global.user._id">
              Merchant's Rate<span class='bold-description'>${{appointment.merchant.ppm}}</span>
               Req. call length <span class='bold-description'>{{appointment.duration}} mins</span>
               Est. total Costs<span class='bold-description'> ${{global.user.ppm * appointment.duration}}</span>
            </p>
          </div>
        </div>
      </div>
      <div data-ng-hide="userAppointments">
        <h1>You Have Not Created Appointments Yet.</h1>
        <button class="btn-primary btn"><h3><em>Find an open source contributor today!</em></h3></button>
      </div>
    </div>
  </section>
  <section data-ng-hide="global.authenticated" data-ng-include data-src="'views/partials/needAuthorization.html'"></section>
</section>

