<section data-ng-controller="UserController" data-ng-init="findAppointments()">
  <section data-ng-include="'views/partials/navbar.html'"></section>
  <section data-ng-show="global.authenticated">
    <div class="container" data-ui-view>
      <!-- <div data-ng-repeat='appointment in pendingA'> -->
      <div>
        <h1>Appointments</h1>
        <div class='row'>
          <div class='col-md-12'>
            <h2 class='caps-sub-header'>Pending</h2>
            <p class='notify-sm' ng-show="pendingA.length === 0">You have no pending requests</p>

            <div data-ng-repeat="appointment in pendingA" class="appointment-card">
              <div class='row'>
                <div class='col-md-1'><div class='sm-btn pending-status'>Pending</div></div>
                <div class='col-md-5'><p>{{appointment.message}}</p></div>
                <div class='col-md-2'>
                  <p>{{appointment.date.option1.date | date: 'medium' }}</p>
                  <p>{{appointment.date.option2.date | date: 'medium' }}</p>
                  <p>{{appointment.date.option3.date | date: 'medium' }}</p></div>
                <div data-ng-show="(appointment.merchant._id !== global.user._id) && !appointment.confirmed" class='col-md-2'><p>{{appointment.merchant.fullName}}</p></div>
                <div data-ng-show="(appointment.merchant._id === global.user._id) && !appointment.confirmed" class='col-md-2'><p>{{appointment.customer.fullName}}</p></div>
                <div class='col-md-2'>
                  <a data-ng-show="(appointment.merchant._id === global.user._id) && !appointment.confirmed" href="/#!/{{global.user.userName}}/confirm/{{appointment._id}}"><div class='sm-btn confirm-apt'>Confirm</div></a>
                </div>
              </div>
            </div> <!-- ng-repeat appointments -->

          </div> <!-- col-md-12 -->
        </div> <!-- row -->
        <div class='row'>
          <div class='col-md-12'>
            <h2 class='caps-sub-header'>Confirmed</h2>
            <p class='notify-sm' ng-show="confirmedA.length === 0">You have no confirmed appointments</p>
            <div data-ng-repeat="appointment in confirmedA" class="appointment-box">
              <div class='row'>
                <div class='col-md-1'><div class='sm-btn confirmed-status'>Confirmed</div></div>
                <div class='col-md-5'><p>{{appointment.message}}</p></div>
                <div class='col-md-2'>
                  <p>{{appointment.date.option1.date | date: 'medium' }}</p>
                  <p>{{appointment.date.option2.date | date: 'medium' }}</p>
                  <p>{{appointment.date.option3.date | date: 'medium' }}</p></div>
                <div data-ng-show="(appointment.merchant._id !== global.user._id) && !appointment.confirmed" class='col-md-2'><p>{{appointment.merchant.fullName}}</p></div>
                <div data-ng-show="(appointment.merchant._id === global.user._id) && !appointment.confirmed" class='col-md-2'><p>{{appointment.customer.fullName}}</p></div>
                <div class='col-md-2'>
                  <a data-ng-show="(appointment.merchant._id === global.user._id) && !appointment.confirmed" href="/#!/{{global.user.userName}}/confirm/{{appointment._id}}"><div class='sm-btn confirm-apt'>Confirm</div></a>
                </div>
              </div>
            </div> <!-- appointment in confirmed -->
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12'>
            <h2 class='caps-sub-header'>Complete</h2>
            <p class='notify-sm' ng-show="completedA.length === 0">You have no completed appointments</p>
            <div data-ng-repeat="appointment in completedA" class="appointment-box">
              <div class='row'>
                <div class='col-md-1'><div class='sm-btn completed-status'>Completed</div></div>
                <div class='col-md-5'><p>{{appointment.message}}</p></div>
                <div class='col-md-2'>
                  <p>{{appointment.date.option1.date | date: 'medium' }}</p>
                  <p>{{appointment.date.option2.date | date: 'medium' }}</p>
                  <p>{{appointment.date.option3.date | date: 'medium' }}</p></div>
                <div data-ng-show="(appointment.merchant._id !== global.user._id) && !appointment.confirmed" class='col-md-2'><p>{{appointment.merchant.fullName}}</p></div>
                <div data-ng-show="(appointment.merchant._id === global.user._id) && !appointment.confirmed" class='col-md-2'><p>{{appointment.customer.fullName}}</p></div>
                <div class='col-md-2'>
                  <a data-ng-show="(appointment.merchant._id === global.user._id) && !appointment.confirmed" href="/#!/{{global.user.userName}}/confirm/{{appointment._id}}"><div class='sm-btn confirm-apt'>Confirm</div></a>
                </div>
              </div>
            </div>
          </div></div>
      </div>
    </div>
  </section>
</section>

<!-- pending design, confirmed design, completed -->
<!--
<div class='center-appointment'>
        <h1 class='headline'>Appointments</h1>
        <div class="appointment-scroll-wrapper">
          <h1 ng-show="pendingA.length > 0">Pending</h1>
          <div data-ng-repeat="appointment in pendingA" class="appointment-box">
            <div class='status status-pending'>
              <h1 class='alert-type' data-ng-show="(appointment.merchant._id === global.user._id) && !appointment.confirmed"><a href="/#!/{{global.user.userName}}/confirm/{{appointment._id}}">Status: Uncomfirmed...confirm now!</a></h1>
              <h1 class='alert-type' data-ng-show="(appointment.merchant._id !== global.user._id) && !appointment.confirmed">Status: Awaiting merchant approval...</h1>
            </div>
            <img class='avatar-lg appt' src='{{appointment.customer.avatarUrl}}' data-ng-show="appointment.merchant._id === global.user._id">
            <img class='avatar-lg appt' src='{{appointment.merchant.avatarUrl}}' data-ng-show="appointment.customer._id === global.user._id">
            <div class='appointment-text-info'>
              <h1 class='headline full-name' data-ng-show="appointment.merchant._id === global.user._id">{{appointment.customer.fullName}}</h1>
              <h1 class='headline full-name' data-ng-show="appointment.customer._id === global.user._id">{{appointment.merchant.fullName}}</h1>
              <p class='appointment-details' data-ng-show="appointment.merchant._id === global.user._id">
                My Rate <span class='bold-description'>{{global.user.ppm}}</span>
                 Req. call length <span class='bold-description'>{{appointment.duration}} mins</span>
                 Est. total Earnings<span class='bold-description'> ${{global.user.ppm * appointment.duration}}</span>
              </p>
              <p class='appointment-details' data-ng-show="appointment.customer._id === global.user._id">
                Merchant's Rate<span class='bold-description'>${{appointment.merchant.ppm}}</span>
                 Req. call length <span class='bold-description'>{{appointment.duration}} mins</span>
                 Est. total Costs<span class='bold-description'> ${{global.user.ppm * appointment.duration}}</span>
              </p>
            </div>
          </div>

          <h1 ng-show="confirmedA.length > 0">Confirmed</h1>
          <div data-ng-repeat="appointment in confirmedA" class="appointment-box">
            <div class='status status-pending'>
              <h1 class='alert-type'>Status: Confirmed</h1>
            </div>
            <img class='avatar-lg appt' src='{{appointment.customer.avatarUrl}}' data-ng-show="appointment.merchant._id === global.user._id">
            <img class='avatar-lg appt' src='{{appointment.merchant.avatarUrl}}' data-ng-show="appointment.customer._id === global.user._id">
            <div class='appointment-text-info'>
              <h1 class='headline full-name' data-ng-show="appointment.merchant._id === global.user._id">{{appointment.customer.fullName}}</h1>
              <h1 class='headline full-name' data-ng-show="appointment.customer._id === global.user._id">{{appointment.merchant.fullName}}</h1>
              <p class='appointment-details' data-ng-show="appointment.merchant._id === global.user._id">
                My Rate <span class='bold-description'>{{global.user.ppm}}</span>
                 Req. call length <span class='bold-description'>{{appointment.duration}} mins</span>
                 Est. total Earnings<span class='bold-description'> ${{global.user.ppm * appointment.duration}}</span>
              </p>
              <p class='appointment-details' data-ng-show="appointment.customer._id === global.user._id">
                Merchant's Rate<span class='bold-description'>${{appointment.merchant.ppm}}</span>
                 Req. call length <span class='bold-description'>{{appointment.duration}} mins</span>
                 Est. total Costs<span class='bold-description'> ${{global.user.ppm * appointment.duration}}</span>
              </p>
            </div>
          </div>

          <h1 ng-show="completedA.length > 0">Completed</h1>
          <div data-ng-repeat="appointment in completedA" class="appointment-box">
            <div class='status status-pending'>
              <h1 class='alert-type'>Status: Completed</h1>
            </div>
            <img class='avatar-lg appt' src='{{appointment.customer.avatarUrl}}' data-ng-show="appointment.merchant._id === global.user._id">
            <img class='avatar-lg appt' src='{{appointment.merchant.avatarUrl}}' data-ng-show="appointment.customer._id === global.user._id">
            <div class='appointment-text-info'>
              <h1 class='headline full-name' data-ng-show="appointment.merchant._id === global.user._id">{{appointment.customer.fullName}}</h1>
              <h1 class='headline full-name' data-ng-show="appointment.customer._id === global.user._id">{{appointment.merchant.fullName}}</h1>
              <h1>Transaction Details</h1>
              <p class='appointment-details' data-ng-hide="appointment.merchant._id !== global.user._id">
                My Rate: <span class='bold-description'>{{appointment.apptppm}}</span>
                Req. Call Length <span class='bold-description'>{{appointment.duration}} mins</span>
                Est. Total Revenue <span class='bold-description'> ${{global.user.ppm * appointment.duration}}</span>
                Helper Share (80% of TR)<span class='bold-description'> ${{global.user.ppm * appointment.duration * 0.8}}</span>
                Githelp Revenue (20%) <span class='bold-description'> ${{grev = global.user.ppm * appointment.duration * 0.2}}</span>
                Balanced Payments Processing Fee (%2.9) <span class='bold-description'> ${{pfee = 0.029 * global.user.ppm * appointment.duration}}</span>
                ACH Deposit Fee <span class='bold-description'>{{afee = $0.25}}</span>
                Githelp Share <span class='bold-description'> ${{grev - pfee - afee}}</span>
              </p>
              <p class='appointment-details' data-ng-hide="appointment.customer._id !== global.user._id">
                Helper Rate: <span class='bold-description'>{{global.user.ppm}}</span>
                Req. Call Length <span class='bold-description'>{{appointment.duration}} mins</span>
                Est. Total Payment <span class='bold-description'> ${{global.user.ppm * appointment.duration}}</span>
                Helper Share (80% of TR)<span class='bold-description'> ${{global.user.ppm * appointment.duration * 0.8}}</span>
                Githelp Revenue (20%) <span class='bold-description'> ${{grev = global.user.ppm * appointment.duration * 0.2}}</span>
                Balanced Payments Processing Fee (%2.9) <span class='bold-description'> ${{pfee = 0.029 * global.user.ppm * appointment.duration}}</span>
                ACH Deposit Fee <span class='bold-description'>{{afee = $0.25}}</span>
                Githelp Share <span class='bold-description'> ${{grev - pfee - afee}}</span>
              </p>
            </div>
          </div>
        </div>
      </div> -->


