<!-- Functions & Scope in IndexController -->
<div data-ng-controller="DatepickerCtrl">
  <section data-ng-include="'views/partials/navbar.html'"></section>
  <form ng-submit='createAppointment()'>
    <div class='container form-wrapper'>
      <div class='row booking-input'>
        <div class='col-md-12'><h1>Set up session with {{merchantUserName}}</h1></div>
      </div>
      <div class='row booking-input'>
        <div class='col-md-12'>
          <h5>1. Quick summary of your problem</h5>
           <input type="text" id='message' class='form-control' ng-model='appts.message.subject' style='width:300px; margin: 0 auto;' autocomplete="off" required placeholder="Summary of request" />
          <br>
          <textarea id='message' ng-model='appts.message.details' class='form-control' style='width:300px; height:150px; margin: 0 auto;' autocomplete="off" required placeholder="Include details of your request, stack and repo(s) you are using, what you have already tried, and where you are blocked, etc."></textarea>
        </div>
      </div>
      <div class='row booking-input'>
        <div class='col-md-12'>
          <h5>2. Set estimated time</h5>
          <select name="duration" ng-model="appts.duration">
            <option value="15">15 minutes</option>
            <option value="30">30 minutes</option>
            <option value="60">60 minutes</option>
            <option value="120">120 minutes</option>
          </select>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <h5>3. What times work best for you?</h5>
          <section data-ng-include data-src="'views/partials/timeslots.html'"></section>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <input style='margin-bottom:60px; margin-top: 20px;' type="submit" class="btn btn-success" value="Book Now" id="appt-submit">
        </div>
      </div>
    </div>
  </form>
</div>


<!-- <h2 class='headline' style='font-size: 15px;'>Describe your problem</h2>
        <div>
          <input type="text" id='message' class='form-control' ng-model='appts.message' style='width:300px' autocomplete="off" placeholder="Title of your session" />
        </div>
        <h2 class='headline' style='font-size: 15px;'>Set Estimated Length</h2>
        <select name="duration" ng-model="appts.duration">
          <option value="15">15 minutes</option>
          <option value="30">30 minutes</option>
          <option value="60">60 minutes</option>
          <option value="120">120 minutes</option>
        </select>
        <h2 class='headline' style='font-size: 15px;'>Suggest open times for your call</h2>
      </div>
=======
    <div class='container profile'>
      <h1 class='headline'>Session Request</h1>
      <div>
        <h2 class='headline' style='font-size: 15px;'>What do you need help with?</h2>

        Subject<input type="text" id='message' class='form-control' ng-model='appts.message.subject' style='width:300px' autocomplete="off" required placeholder="Summary of request" />

        Details<textarea id='message' ng-model='appts.message.details' class='form-control' style='width:300px; height:150px' autocomplete="off" required placeholder="Include details of your request, stack and repo(s) you are using, what you have already tried, and where you are blocked, etc."></textarea>

<!        <input type="textarea"  placeholder="Include: details of your request, stack and repo(s) you are using, what you have already tried, and where you are blocked, etc. " /> -->
   <!--    </div>
      <h2 class='headline' style='font-size: 15px;'>Set Estimated Length</h2>
      <select required name="duration" ng-model="appts.duration">
        <option value="30">30 minutes</option>
        <option value="60">60 minutes</option>
        <option value="120">120 minutes</option>
      </select>
      <h2 class='headline' style='font-size: 15px;'>Suggest open times for your call</h2>

      <section data-ng-include data-src="'views/partials/timeslots.html'"></section>
      <input style='margin-top:8px' type="submit" class="btn btn-success" value="Book Now" id="appt-submit"> -->








<!--       <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="appts.first.dt" is-open="opened1" min="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>

      <button class="btn btn-default" ng-click="open1($event)"><i class="fa fa-calendar"></i></button>
      <br>
      <div data-ng-controller="TimepickerCtrl" ng-model="appts.first.time" class="row col-md-7">
        <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
      </div>

      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="appts.second.dt" is-open="opened2" min="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>

      <button class="btn btn-default" ng-click="open2($event)"><i class="fa fa-calendar"></i></button>
      <br>
      <div data-ng-controller="TimepickerCtrl" ng-model="appts.second.time" class="row col-md-7">
        <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
      </div>

      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="appts.third.dt" is-open="opened3" min="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>

      <button class="btn btn-default" ng-click="open3($event)"><i class="fa fa-calendar"></i></button>
      <br>
      <div data-ng-controller="TimepickerCtrl" ng-model="appts.third.time" class="row col-md-7">
        <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
      </div> -->





















