<form class="container form-group" ng-submit="createCard()">
  <!-- submitBooking() -->
  <div class="container">
    <h2>Provide Call Information</h2>
    <div>
      <label>Message to Merchant</label>
      <input type="textarea" id="message" ng-model="booking.message" placeholder="John Doe" />
    </div>
    <div>
      <label>Set Estimated Length</label>
        <select name="length">
          <option value="15" selected>15 minutes</option>
          <option value="30">30 minutes</option>
          <option value="60">60 minutes</option>
        </select>
    </div>
  </div>

  <div class="container">
    <h2>Suggest Open Times For Your Call</h2>
    <div>
    </div>
  </div>

  <div class="container">
    <h2>Payment Details</h2>
    <div class="container">
      <div>
        <label>Name on Card</label>
        <input type="text" id="cc-name" autocomplete="off" ng-model="cc.name" placeholder="John Doe" />
      </div>
      <div>
        <label>Card Number</label>
        <input type="text" id="cc-number" autocomplete="off" ng-model="cc.number" placeholder="4111111111111111" maxlength="16" />
      </div>
      <div>
        <label>Expiration</label>
        <input type="text" id="cc-ex-month" autocomplete="off" ng-model="cc.expiration_month" placeholder="01" maxlength="2" />
        <input type="text" id="cc-ex-year" autocomplete="off" ng-model="cc.expiration_year" placeholder="2013" maxlength="4" />
      </div>
      <div>
        <label>Security Code (CVV)</label>
        <input type="text" id="ex-csc" autocomplete="off" ng-model="cc.cvv" placeholder="453" maxlength="4" />
      </div>
      Updated DB data: {{ccComplete}}
    </div>
  </div>
  <input type="submit" class="btn btn-success" value="Submit" id="cc-submit">
</form>
