<section data-ng-controller="UserController" data-ng-init="findInbox()" >
  <section data-ng-show="global.authenticated">

      <div data-ui-view>

        <!-- Merchants -->
        <div class="container">
          <div class='center-elements' ng-repeat='inbox in userInboxes'>
            <div class='chat-head' ng-click='toInbox(inbox._id)'>
              <span class="label label-default">1</span>
              <img class='avatar-large-chat' style='float: left' src="{{findOtherUser(inbox).github.avatar_url}}"/>
              <h1 class='headline full-name'>{{findOtherUser(inbox).userName}}</h1>
            </div>
          </div>
        </div>

        <div data-ng-hide="userInboxes" class='container'>
          <h1>You have not started any conversations!</h1>
        </div>
        <div class="container">
          <form class="col-md-10" data-ng-submit="createInbox()">
            <label>Members</label>
            <div class="col-md-8">
              <input data-ng-model="member" typeahead="user.fullName for user in allUsers | filter:$viewValue" data-ng-show="user._id != global.user._id" typeahead-on-select="onSelect($item, $model, $label)">
            </div>
            <button type="submit">New Chats</button>
          </form>
        </div>
      </div>
  </section>
  <section data-ng-hide="global.authenticated" data-ng-include data-src="'views/partials/needAuthorization.html'"></section>
</section>