<section data-ng-controller="UserController" data-ng-init="findOne()" ui-view>
  <section data-ng-include="'views/partials/navbar.html'"></section>
  <div class='container main-content-spacing'>
    <!-- PROFILE SUMMARY -->
    <!-- .................................................... -->
    <!-- .................................................... -->
    <div class='row profile-header'>
      <div class='col-md-12'>
        <div class='profile-id'>
          <p><img class='avatar-lg' src='{{user.github.avatar_url}}'/></p>
          <div class='profile-name'>
            <h1 class='headline full-name'>{{user.fullName}}</h1>
            <p class='price' data-ng-show="user._id === global.user._id"><edit-in-place value="user.ppm"></edit-in-place></p>
            <p class='price'>$<strong>{{user.ppm * 60}}</strong>/hour</p>
          </div>
        </div>
        <div class='row contact-background'>
          <div class='contact-cta'>
            <div class='col-md-6'>
              <div class='confirm-btn contact-btn message'>
                <p><i class="fa fa-comment"></i> Message</p>
              </div>
            </div>
            <div class='col-md-6'>
              <div data-ng-click="setAppointment()" class='button confirm-btn contact-btn'>
                <p><i class="fa fa-calendar"></i> Book Session</p>
              </div>
            </div>
          </div>
        </div> <!-- message schedule row -->
      </div>
    </div> <!-- row -->
    <div class='row'>
      <div class='col-md-5'>
        <p data-ng-show="repoList.length > 0" class='caps-sub-header'>{{user.github.public_repos.length}} public repositories</p>
        <div class='repo-names' data-ng-repeat='repo in repoList' data-ng-show='!repo.fork'>
          <p><a href="/#!/{{userName}}/repos/{{repo.name}}">{{repo.name}}</a></p>
        </div>
      </div>
      <div class='col-md-5'>
        <p data-ng-show="conList.length > 0" class='caps-sub-header'>top {{conList.length}} repositories contributed to</p>
        <div class='repo-names' data-ng-repeat='repo in conList'>
          <p><a href="/#!/{{repoAuthor(repo)}}/repos/{{repoName(repo)}}">{{repoName(repo)}}</a></p>
        </div>
      </div>
      <!-- <div class='col-md-2 supplementary-data'> -->
      <div class='col-md-2'>
        <p class='caps-sub-header'>Extra</p>
        <p data-ng-show="user.email"><a href='mailto:{{user.email}}'>{{user.email}}</a></p>
        <p>{{user.github.public_gists}} gists</p>
        <p>{{user.github.followers}} followers</p>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-5'>
        <p class='caps-sub-header'>Services</p>
        <p>Education/Training</p>
        <!-- <div data-ng-repeat='service in userServices'> -->
          <!-- <p>{{service.name}}</p>
          <p>{{service.description}}</p> -->
        <!-- </div> -->
      </div>
    </div>
  </div> <!-- container -->

</section>
<!-- <h2 class='username'><a href="http://www.github.com/{{user.userName}}"><i class="fa fa-github"></i> {{user.userName}}</a></h2> -->
<!-- <p class='price' data-ng-show="user._id === global.user._id"><edit-in-place value="user.ppm"></edit-in-place></p>
<p class='price' data-ng-hide="user._id === global.user._id">${{user.ppm}}/min</p>
<p class='price'>${{user.ppm * 60}}/hour</p> -->

<!-- v1 -->
<!-- <div class="container profile">
    <div>
      <img class='avatar-lg' src='{{user.github.avatar_url}}'>
    </div>
    <div class='profile-name-info'>
      <h1 class='headline full-name'>{{user.fullName}}</h1>
      <h2 class='username'><a href="http://www.github.com/{{user.userName}}"><i class="fa fa-github"></i> {{user.userName}}</a></h2>
      <h2 data-ng-show = "user.github.blog" class="username"><a href="{{user.github.blog}}"><i class="fa fa-link"></i> {{user.github.blog}}</a></h2>

      <h4 class='price' data-ng-show="user._id === global.user._id"><edit-in-place value="user.ppm"></edit-in-place></h4>
      <h4 class='price' data-ng-hide="user._id === global.user._id">${{user.ppm}}/min</h4>
      <h4 class='price'>${{user.ppm * 60}}/hour</h4>
    </div>

    <div data-ng-click="setAppointment()" data-ng-show="user && user._id !== global.user._id && user.balancedBank" class='call-button headline'>
      <p>Set up a call</p>
    </div>
    <div data-ng-hide="user">
      <h1>This user does not yet have an account</h1>
    </div>
    <div data-ng-show="user && !user.balancedBank && user._id !== global.user._id" class='no-account-button headline' data-ng-controller="ModalController" data-ng-click="openMessageModal()">
      <p>Cannot accept calls yet!</p>
    </div>
    <div data-ng-show="global.user && !global.user.balancedBank && user._id === global.user._id" class='setup-button headline' data-ng-controller="ModalController" data-ng-click="openAccountModal()">
      <p>Start Accepting Calls!</p>
    </div>
    <p data-ng-show="repoList.length > 0" class='caps-sub-header'>{{user.github.public_repos.length}} public repositories</p>
    <div>
      <ul class='repo-links'>
        <li data-ng-repeat="repo in repoList" data-ng-show="!repo.fork"><a href="/#!/{{userName}}/repos/{{repo.name}}">{{repo.name}}</a></li>
      </ul>
    </div>
    <p data-ng-show="conList.length > 0" class='caps-sub-header'>top {{conList.length}} repositories contributed to</p>

    <div>
      <ul class='repo-links'>
        <li data-ng-repeat="repo in conList"><a href="/#!/{{repoAuthor(repo)}}/repos/{{repoName(repo)}}">{{repoName(repo)}}</a></li>
      </ul>
    </div>
    <div>
      <p class='caps-sub-header'>Number of Gists: {{user.github.public_gists}}</p>
      <p data-ng-show="user.email" class='caps-sub-header'>Email: {{user.email}}</p>
      <p class='caps-sub-header'>Followers: {{user.github.followers}}</p>
    </div>
  </div> -->
