<section data-ng-controller="ReposController" data-ng-init="getContribs()">
<div class="container profile">
    <div>
      <!-- <img class='avatar-lg' src='{{user.github.avatar_url}}'> -->
      <!-- <p>user's profile img obtained by crawling github</p> -->
    </div>
    <div class='profile-name-info'>
      <h1 class='headline full-name'>{{repoName}}</h1>
      <h2 class='username'><a href="http://www.github.com/{{userName}}/repos/{{repoName}}"><i class="fa fa-github"></i> {{userName}}/{{repoName}}</a></h2>
    </div>
    <!-- <div data-ng-show="user" class='call-button headline'>
      <p>Set up a call with author</p>
    </div> -->

    <div data-ng-hide="user">
      <h1>The author of this repo does not yet have an account</h1>
    </div>

    <p data-ng-show="coreTeam.length > 0" class='caps-sub-header'>Core Team</p>
    <div>
      <ul class='repo-links'>
        <li data-ng-repeat="user in coreTeam"><a href="/#!/{{user.login}}">{{user.login}}</a></li>
<!--         <li data-ng-repeat="repo in repoList" data-ng-show="!repo.fork"><a href="/#!/{{user.userName}}/repos/{{repo.name}}">{{repo.name}}</a></li> -->
      </ul>
    </div>
    <p data-ng-show="otherTop.length > 0" class='caps-sub-header'>Other Notable Contributors</p>
    <div>
      <ul class='repo-links'>
        <li data-ng-repeat="user in otherTop"><a href="/#!/{{user.login}}">{{user.login}}</a></li>
<!--         <li data-ng-repeat="repo in repoList" data-ng-show="!repo.fork"><a href="/#!/{{user.userName}}/repos/{{repo.name}}">{{repo.name}}</a></li> -->
      </ul>
    </div>
  </div>
</section>
