<div data-ng-controller="DatepickerCtrl">
  <form ng-submit='editAppointment()' ng-init='loadAppointment()'>
    <div class='container profile'>
      <!-- data-ng-click="confirmAppointment()" -->
      <h3>Display Appointment Details</h3>
      <ul>
        <div ng-show="apptInDb.confirmed">
          <h2>Confirmed</h2>
          <h3>Date and Time: {{confirmedDate}}</h3>
        </div>
        <li>Customer: {{apptInDb.customer.fullName}}</li>
        <li>Merchant: {{apptInDb.merchant.fullName}}</li>
        <li>Duration: {{apptInDb.duration}}</li>
        <li>Message: {{apptInDb.message}}</li>
      </ul>

      <div ng-hide="apptInDb.confirmed">
        <h3>Confirm one of the following suggested times:</h3>
        <ul>
          <h3>Requested Time 1</h3>
          <li>{{apptInDb.date.option1.date}}</li>
          <li>{{apptInDb.date.option1.time}}</li>
          <div data-ng-click="confirmOption1()" class='call-button headline'>
            <p>Confirm</p>
          </div>
          <h3>Requested Time 2</h3>
          <li>{{apptInDb.date.option2.date}}</li>
          <li>{{apptInDb.date.option2.time}}</li>
          <div data-ng-click="confirmOption2()" class='call-button headline'>
            <p>Confirm</p>
          </div>
          <h3>Requested Time 3</h3>
          <li>{{apptInDb.date.option3.date}}</li>
          <li>{{apptInDb.date.option3.time}}</li>
          <div data-ng-click="confirmOption3()" class='call-button headline'>
            <p>Confirm</p>
          </div>
        </ul>
      </div>
      <h3 ng-hide="apptInDb.confirmed">If none work, please suggest new ones:</h3>
      <h3 ng-show="apptInDb.confirmed">If you'd like to reschedule, please suggest a few options:</h3>

      <section data-ng-include data-src="'views/partials/timeslots.html'"></section>
      <br>
      <br>
      <input style='margin-top:8px' type="submit" class="btn btn-success" value="Submit New Times" id="appt-submit">
    </div>
  </form>
</div>
