<div class='search-bg'>
      <form class="container form-group" ng-submit="query()">
        <input type="text" class="form-control" id="search-bar" name="query" ng-model="form.queryInput" placeholder="Search username/repo">
        <input type="submit" class="btn btn-success" value="Git it on">
      </form>
    </div>

<div class='container col-md-4' data-ng-show="githelpResults.length > 0">
  <br>
  <h3>githelp results</h3>
  <li ng-repeat="user in githelpResults | limitTo: 10">
    Name: {{user.fullName}}<br />
    Url: {{user.github.html_url}}<br />
    ID: {{user.userName}}<br />
    Email: {{user.email}}<br />
    <a href="/#!/{{user.userName}}" class="btn btn-primary btn-large"><i class="icon-white icon-heart"></i>Profile</a>
  </li>
</div>


<div class='container col-md-4' data-ng-show="githubResults.length > 0">
  <br>
  <h3>github results</h3>
  <li ng-repeat="result in githubResults | limitTo: 10">
    Name: {{result.name}}<br />
    Full Name: {{result.full_name}}<br />
    Url: {{result.html_url}}<br />
    ID: {{result.id}}<br />
  </li>
</div>

    <!-- allow for search here too -->