<!-- TIMER / SESSION OVERVIEW
       ............................................................................................-->
<div class='text-editor-container'>
  <section data-ng-include="'views/partials/navbar-min.html'"></section>
<!--   <section data-ng-controller="AppointmentController" data-ng-init="liveSession()">
    <section data-ng-show="global.authenticated">
      <div class="container jumbotron" id='session-container'>
      </div>
      <div id='callInfoBox'>
        <i id='clock' class="fa fa-clock-o"></i>
        <h2 id='timer'>{{hours}}:{{minutes}}:{{seconds}}</h2>
        <h3 class='total-container'>Total
          <span id='total-amount'>
            {{totalAmount | currency:"$"}}
          </span>
        </h3>
        <div class='start-session headline' ng-click='startTimer()' ng-show='timerOn === false'>
          <p class='button-txt'>Start session</p>
        </div>
        <div class='end-session headline' ng-click='stopTimer()' ng-show='timerOn === true'>
          <p class='button-txt'>End session</p>
        </div>
      </div>
    </section> -->

    <!-- AUTH
         ............................................................................................-->
    <!-- <section data-ng-hide="global.authenticated" data-ng-include data-src="'views/partials/needAuthorization.html'"></section> -->

    <!-- TEXT EDITOR
         ............................................................................................-->
    <section data-ng-controller='TextEditorController'>
        <!-- <input type='file' file-input='files' multiple />
        <button ng-click='upload()'>Upload</button> -->
      <div class='side-panel'>
        <div class='side-panel-directories'></div>
      </div>
      <div class='file-view'>
        <!-- UPLOAD FILE -->
        <div class='new-file'>
          <i class="fa fa-plus"></i>
        </div> <!-- add-file -->
        <div class='file'><p>Filename</p></div>
      </div> <!-- file-view -->
      <div id="firepad-container"></div>
    </section>
  </section>
</div>
