<!-- <a href="/instances/{{ instanceId }}">{{instance.name}}</a> -->
<section data-ng-controller="AppointmentController">
  <div class="container jumbotron">
    <h1 class='headline session-header'>Session with [name of person]</h1>
  </div>
  <div id="editor"></div>
  <!-- <div class='ace-editor' ui-ace>Ace here</div> -->
</section>

<script>
  var socket = io.connect('http://localhost');
  // // var sessionId = null;

  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/javascript");

  // Use #setValue to restore the text editor from server on page reload

  // outputText();
  editor.on('change', function(e) {
      socket.emit('textEditorChange', { 'dataAboutChangeInTextEditor': e });
    // if (e.data.text === ' ') {

    // } else if (e.data.text === '') {
    //   editor.splitLine();
    // } else {
    //   console.log('hehe');
    // }
  });

</script>
