<section data-ng-controller="UserController" data-ng-init="" ui-view>
  <section data-ng-include="'views/partials/navbar.html'"></section>
  <div class="container">
    <div id="profile-settings">
      <h1 class='headline' style='text-align: center'>Profile Settings</h1>
        <h3 class="text-danger" style='text-align: center' ng-hide="global.user.email || global.user.contactEmail || submittedEmail">Submit your email to enable githelp bookings and transactions</h3>
          <p class="caps-sub-header" style='text-align: center'>Contact Email</p>
          <section data-ng-include data-src="'views/partials/email.html'">
          </section>
    </div>
    <div id="transaction-settings">
      <h1 class='headline' style='text-align: center'>Transaction Settings</h1>
        <!-- <h2><a href="/#!/{{global.user.userName}}/settings/earnings">Earnings</h2> -->
        <!-- <h2><a href="/#!/{{global.user.userName}}/settings/payments">Payments</h2> -->
        <p class="caps-sub-header" style='text-align: center'>Payments</p>
        <section data-ng-show="global.authenticated" data-ng-include data-src="'views/partials/creditcard.html'"></section>
        <p class="caps-sub-header" style='text-align: center'>Earnings</p>
        <section data-ng-show="global.authenticated" data-ng-include data-src="'views/partials/bankaccount.html'"></section>
    </div>
  </div>
</section>
