{% extends "default.html" %}

{% block content %}
<!-- BEGIN BODY // -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
  <tr>
    <td valign="top" class="bodyContent" mc:edit="body_content">
      <h1>You've received a request from {{fromUserName}} for githelp!</h1>
      <h3>Here are the details:</h3>
      <ul>
        <li>Requested call length: {{duration}}</li>
        <li>Rate per minute: ${{ppm}}</li>
        <li>Estimated income: ${{estIncome}}</li>
        <li>Message: {{message}}</li>
      </ul>
      <div>
        <h3>Requested Time 1</h3>
          <ul>
            <li>{{date.option1.date}}</li>
            <li>{{date.option1.time}}</li>
          </ul>
          <a class="" href='http://172.18.73.218:3000/appointments/confirm/{{toUserName}}/{{appointmentId}}/option1'>Confirm Request></a>
      </div>
      <div>
        <h3>Requested Time 2</h3>
          <ul>
            <li>{{date.option2.date}}</li>
            <li>{{date.option2.time}}</li>
          </ul>
          <a class="" href='http://172.18.73.218:3000/appointments/confirm/{{toUserName}}/{{appointmentId}}/option2'>Confirm Request></a>
<!--           <a class="" href='http://172.18.73.218:3000/{{toUserName}}/confirm/{{appointmentId}}/option2'>Confirm Request></a> -->
      </div>
      <div>
        <h3>Requested Time 3</h3>
          <ul>
            <li>{{date.option3.date}}</li>
            <li>{{date.option3.time}}</li>
          </ul>
          <a class="" href='http://172.18.73.218:3000/appointments/confirm/{{toUserName}}/{{appointmentId}}/option3'>Confirm Request></a>
<!--           <a class="" href='http://172.18.73.218:3000/{{toUserName}}/confirm/{{appointmentId}}/option3'>Confirm Request></a> -->
          <!-- <a class="" href='http://172.18.74.30:3000/#!/{{toUserName}}/confirm/{{appointmentId}}'> -->
      </div>
      <div>
        <h3>None work for you? Suggest New Times and Reschedule.</h3>
      </div>
    </td>
  </tr>
</table>
<!-- // END BODY -->
{% endblock %}
