<div class="modal-body clearfix">
  <h1 class='caps-sub-header'>Set up bank account</h1>
  <form class="clearfix" data-ng-submit="createBankAccount()" style="padding-left:none; padding-right: none;">
    <div class="center">
      <p>Once this is filled out, you may start receiving appointments.</p>
    </div>
    <br>
    <!-- BANK ACCT FORM -->
    <div class="center">
    <alert ng-repeat="alert in alerts.bank" type="alert.type" close="closeBankAlert($index)">{{alert.msg}}</alert>
    </div>
    <div class="center">
      <h4 ng-hide="user.balancedBank || submittedValidBank">{{required.bank}}</h4>
    </div>
    <input class='form-control input-setup' type="text" id="ba-name" autocomplete="off" ng-model="name" required placeholder="Account Holder's Name">
    <br>
    <input type="text" class='form-control input-setup' id="ba.routing" autocomplete="off" ng-model="routing_number" required placeholder="Routing Number" />
    <br>
    <div class='form-group input-setup'>
      <label class='radio-inline'>
        <input type="radio" name="account_type" ng-model="ba.account_type" value="checking" checked>
        Checking
      </label>
      <label class='radio-inline'>
        <input type="radio" name="account_type" ng-model="ba.account_type" value="savings">
        Savings
      </label>
    </div>

    <input type="text" class='form-control input-setup' id="ba-number" autocomplete="off" ng-model="account_number" required placeholder="Account Number" />
    <input type="submit" class="btn btn-lg btn-bank-setup clearfix" value="Submit"></input>
  </form>
  <br>
  <div class='end-notes'>
    <p>We use Balanced Payments' tokenization process so your sensitive data never touches our database. Githelp is run over encrypted HTTPS to provide extra security.</p>
    <p>Payments may be delayed 3-5 business days if incorrect information is provided.</p>
  </div>
</div>
