<!-- BANK ACCT FORM -->
<div class='container profile' style='padding-top: 10px'>
  <h4 ng-show="banner">{{banner.bank}}</h4>
  <h4 ng-hide="user.balancedBank">{{required.bank}}</h4>
  <form class="container form-group" ng-submit="createBankAcct()">
    <input class='form-control' style='width:300px' type="text" id="ba-name" autocomplete="off" ng-model="ba.name" placeholder="Account Holder's Name">
    <br>
    <div>
      <input type="text" class='form-control' style='width:300px' id="ba.routing" autocomplete="off" ng-model="ba.routing_number" placeholder="Routing Number" />
    </div>
    <br>
    <div>
      <input type="text" class='form-control' style='width:300px' id="ba-type" autocomplete="off" ng-model="ba.account_type" placeholder="Checking" />
      <br>
      <input type="text" class='form-control' style='width:300px' id="ba-number" autocomplete="off" ng-model="ba.account_number" placeholder="Account Number" />
    </div>
    <br>
    <input ng-hide="user.balancedBank" style='margin-right: 850px' type="submit" class="btn btn-success" value="Submit" id="ba-submit">
  </form>
  Updated DB data: {{baComplete}}
</div>


  <!-- <div>
    <form class="container form-group" ng-submit="createBankAcct()">
      <div>
        <label>Account Holder's Name</label>
        <input type="text" id="ba-name" autocomplete="off" ng-model="ba.name" placeholder="John Doe" />
      </div>
      <div>
        <label>Routing Number</label>
        <input type="text" id="ba-routing" autocomplete="off" ng-model="ba.routing_number" placeholder="322271627" />
      </div>
      <div>
        <label>Account Type</label>
        <input type="text" id="ba-type" autocomplete="off" ng-model="ba.account_type" placeholder="Checking" />
      </div>
      <div>
        <label>Account Number</label>
        <input type="text" id="ba-number" autocomplete="off" ng-model="ba.account_number" placeholder="9900000000" />
      </div>
      <input type="submit" class="btn btn-success" value="Submit" id="ba-submit">
    </form>
      Updated DB data: {{baComplete}}
  </div>
