<div data-ng-controller="MessageController" data-ng-init="findMessages()">
  <!-- Chat -->
  <div class='container' ui-view>
    <!-- Side chat with list of all conversations -->
    <div class='side-chat-bar'>
      <h1 class='headline headline-small'>Conversations</h1>
      <form class="col-md-10" data-ng-submit="createInbox()">
          <div class="col-md-8">
            <input data-ng-model="member" typeahead="user.fullName for user in allUsers | filter:$viewValue" data-ng-show="user._id != global.user._id" typeahead-on-select="onSelect($item, $model, $label)">
          </div>
        <button type="submit">Send a message</button>
      </form>
      <div ng-repeat='inbox in userInboxes'>
        <div class='chat-head side-bar' ng-click='toInbox(inbox._id)'>
          <img class='avatar-large-chat' src="{{findOtherUser(inbox).github.avatar_url}}"/>
          <h1 class='headline full-name full-name-sm '>{{findOtherUser(inbox).fullName}}</h1>
        </div>
      </div>
    </div> <!-- SIDE CHAT BAR -->

    <!-- Main chat box -->
    <div id='main-chat' >
      <div class='chat-window' >
        <div class='chat-bubble' data-ng-repeat="message in messagesByChatroom[currentChatroomId] | orderBy:'-created':true">
          <img class='avatar-chat' src="{{message.sender.github.avatar_url}}"/>
          <div class='chat-text'>
            <p>{{message.content}}</p>
          </div>
          <br>
          <br>
        </div>
      </div>

      <div class='chat-type-message'>
        <form data-ng-submit="createMessage()">
          <input data-ng-model="content" type="text" class="form-control" id="chat-input" placeholder="Type your message">
          <input type="submit" id='submit-message' class="btn btn-success" value="Send">
        </form>
      </div>
    </div> <!-- MAIN CHAT -->
  </div>
</div>
 <!--  <h3>ChatWindow</h3>
  <div>
    <div data-ng-repeat="message in messagesByChatroom[currentChatroomId] | orderBy:'-created':true">
      <span>{{message.sender.fullName}}:</span>
      <span>{{message.content}}</span><br>
      <span>{{message.created | date: 'medium'}}</span>
    </div>
    <form data-ng-submit="createMessage()">
      <label>Content</label>
      <input data-ng-model="content" required>
      <button type="submit">Send Message</button>
    </form>
  </div>

  <h3>Members</h3>
  <span data-ng-repeat="member in membersByChatroom[currentChatroomId]" data-ng-show="member._id !== global.user._id">{{member.fullName}}<br></span> -->
</div>

<script type="text/javascript">
  $('#main-chat')[0].scrollTop = $('#main-chat')[0].scrollHeight;
</script>