<!-- CREDIT CARD FORM -->
<div ng-init="showCard()" class='container profile' style='padding-top: 10px'>
  <h4 ng-show="banner">{{banner.card}}</h4>
  <h4 ng-hide="user.balancedCard || submittedCard">{{required.card}}</h4>
  <form ng-hide="user.balancedCard" class="container form-group" ng-submit="createCard()">
    <input class='form-control' style='width:300px' type="text" id="cc-name" autocomplete="off" ng-model="cc.name" required placeholder="Full name (as seen on card)">
    <br>
    <div>
      <input type="text" class='form-control' style='width:300px' id="cc-number" autocomplete="off" ng-model="cc.number" required placeholder="Credit card number" maxlength="16" />
    </div>
    <br>
    <div>
      <input type="text" class='form-control' style='width:300px' id="cc-ex-month" autocomplete="off" ng-model="cc.expiration_month" required placeholder="Month of expiration e.g. 05" maxlength="2" />
      <br>
      <input type="text" class='form-control' style='width:300px' id="cc-ex-year" autocomplete="off" ng-model="cc.expiration_year" required placeholder="Year of expiration e.g. 2017" maxlength="4" />
    </div>
    <br>
    <div>
      <input type="text" class='form-control' style='width:300px' id="ex-csc" autocomplete="off" ng-model="cc.cvv" required placeholder="Security Code (CVV) e.g., 453" maxlength="4" />
    </div>
    <br>
    <input style='margin-right: 850px' type="submit" class="btn btn-success" value="Submit" id="cc-submit">
  </form>
  <!-- Approved Card -->
  <div ng-show="user.balancedCard && !submittedDeleteCard && !submittedCard">
    <h4>Your <b>{{savedCard.brand}} {{savedCard.lastFourDigits}}</b> is linked to this account</h4>
    <br>
<!--     <input style='margin-right: 850px' type="submit" class="btn btn-success" value="Edit" id="cc-edit"> -->
    <form ng-hide="submittedCard" class="container form-group">
      <input ng-click="deleteCard()" style='margin-right: 850px' type="submit" class="btn btn-danger" value="Delete" id="cc-delete">
    </form>
  <!-- End Approved Card -->
  </div>
  Updated DB data: {{ccComplete}}
</div>
