<div class="navbar navbar-default" data-ng-controller="NavbarController">
  <div class="navbar-header">
    <a class="navbar-brand" href="#"><img class='logo' src='/images/logo.png'></a>
  </div>
    <ul class="nav navbar-nav navbar-right navbar-min" id="custom-navbar">
      <li ><a href="#">Programmers</a></li>
      <li ><a href="#">Repos</a></li>
      <li data-ng-hide="global.authenticated"><a href="/signin">Sign in</a></li>
      <li class="dropdown" data-ng-show="global.authenticated" >
        <a href="#" class="pull-left dropdown-toggle" data-toggle="dropdown"><img class='pull-left avatar' src='{{global.user.github.avatar_url}}'>{{global.user.fullName}}<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/#!/{{global.user.userName}}">Profile</a></li>
          <li><a href="/signout">Sign Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
