<!-- Date and TimePicker for timeslot selection -->
<div class='row'>
  <div style='padding-top: 10px; width: 300px; margin: 0 auto;'>
    <div class='row booking-input'>
      <div class='col-md-12'>
        <p>Day</p>
        <input type="text" class="form-control pick-date" datepicker-popup="{{format}}" ng-model="appt.dt" is-open="opened" min="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
      </div>
    </div>
    <div class='row booking-input'>
      <div class='col-md-12'>
        <p>Time</p>
        <div data-ng-controller="TimepickerCtrl" ng-model="appt.time">
          <timepicker hour-step="hstep" minute-step="15" show-meridian="ismeridian"></timepicker>
        </div>
      </div>
    </div>
    <div class='row booking-input'>
      <div class='col-md-12'>
        <button type="button" class="btn btn-default btn-lg btn-block" data-ng-click="addDate()">Add</button>
      </div>
    </div>
    <div data-ng-repeat="id in idArray">
      <p class='caps-sub-header'>{{id}} Date</p>
      <p><span>{{appts[id].time | date: 'medium'}}</span></p>
      <button class="btn btn-alert submit-apt" data-ng-click="deleteDate(id)">Remove</button>
    </div>
  <!--   <button class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button> -->
  </div>
</div>

